@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

* {
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
  background: linear-gradient(155deg, #55c7ed, #2bb3e0, #3bc1ed);
}

#root, .searching-container {
  height: 100%;
}

.flexbox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  margin: 20px;
  position: relative;
}

.search > div.input-container {
  display: inline-block;
  position: relative;
}

.search > div.input-container:after {
  content: "";
  background: white;
  width: 4px;
  height: 20px;
  position: absolute;
  top: 40px;
  right: 2px;
  transform: rotate(135deg);
  box-shadow: 1px 0 #0091c2;
}

.search > div.input-container > input {
  color: white;
  font-size: 16px;
  background: transparent;
  width: 25px;
  height: 25px;
  padding: 15px;
  border: solid 3px white;
  outline: none;
  border-radius: 35px;
  box-shadow: 0 1px #0091c2;
  transition: width 0.5s;
}

.search > div.input-container > input::placeholder {
  color: #efefef;
  opacity: 0;
}

.search > div.input-container > input::-ms-placeholder {
  color: #efefef;
}

.search > div.input-container > input::-ms-input-placeholder {
  color: #efefef;
}

.search > div.input-container > input:focus, .search > div.input-container > input.active {
  width: 550px;
}

.search > div.input-container > input:focus::placeholder {
  opacity: 1;
}

.list-item-container {
  position: absolute;
  top: 70px;
  background: #fff;
  padding: 20px;
  left: 0;
  right: 0;
  border-radius: 10px;
  height: 300px;
  overflow-y: auto;
}

.list-item-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-item-container ul li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.list-item-container ul li .repo-item-container {
  flex: 1;
}

.list-item-container ul li .repo-item-container a {
  color: #2A4365;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 5px;
  display: flex;
}

.list-item-container ul li .repo-item-container a span {
  font-size: 11px;
  color: #C53030;
  margin-left: 15px;
  margin-top: 6px;
}



.list-item-container ul li .repo-item-container a:hover {
  color: #2B6CB0;
}

.list-item-container ul li .repo-item-container p {
  color: #718096;
  font-size: 13px;
}

.list-item-container ul li .repository-stars {
  color: #ED8936;
  font-size: 13px;
}

.loading, .no-user-found {
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  margin: 5px;
}